<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Burger Mania!</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-4">
            <h2>Ready to Eat</h2>
            <ol>  
                {{#each burgers}}
                    {{#unless devoured}} 
                        <li>
                            <p>{{burger_name}}</p>
                            <form action="/{{id}}?_method=PUT" method="POST" class="button-size">
                                <input type="hidden" name="id" value="{{id}}">
                                <button type="submit">Devour It!</button>                    
                            </form>
                        </li>
                    {{/unless}}
                {{/each}}
            </ol>
        </div>  
                <div class="col-md-6 col-sm-4">
            <h2>BURGER(s) ALL GONE!</h2>
            <ol>
                {{#each burgers}}
                    {{#if devoured}}
                        <li>
                            <p>{{burger_name}}</p>
                            {{!-- <form action="/" method="PUT" class="button-size">
                                <input type="hidden" name="id" value="{{id}}">
                                <button type="submit" class="btn btn-primary disabled">Devoured It!</button>            
                            </form> --}}
                        </li>
           
                    {{/if}}
             {{/each}}
            </ol>
        </div>  
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-4 offset-md-3">
            <h2>What would you like to eat?</h2>
                <form method="POST" action="/" class="button-size">
                    <textarea type="text" name="burger"></textarea>
                    <button type="submit">Order</button>
                </form>
        </div>    
    </div>
</div>
